/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --dark-grey : dimgrey;
}

.fa-solid {
    color: var(--main-color);
}

body {
    padding: 0% 2%;
    display: flex;
    justify-content: center;
}

/* .main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
} */

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 61px;
    height: 19px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    position: relative;
    padding-bottom: 5px;
}

nav ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
}

.texttop1 h1 {
    margin-top: 3%;
    font-size: 20px;
}

/* Search bar */

.search{
    margin-bottom: 30px;
}

.search h2{
    margin-bottom: 10px;
}

.search p{
    margin-top: 10px;
}

.searchBar{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 50px;
}

.containerMarker{
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    flex-shrink: 0;
}

.center-icon i{
    font-size: 1.2rem;
    padding: 1.1rem;
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
}

.containerMarker i{
    margin: auto;
    font-size: 1.2rem;
}

.searchInput{
    border: 1px solid #f2f2f2;
    padding: 0 0 0 15px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 230px;
    height: 50px;
}

.searchInput::placeholder{
    color: #c2c2c2;
}

.searchButton{
    width: 130px;
    background-color: #0065FC;
    border: none;
    padding: 12px;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    flex-shrink: 0;
}

.searchButton i{
    display: none;
}

/* Filters */

.filters {
    display: flex;
    align-items: center;
}

.filters h2{
    padding-right: 10px;
}

.filters button{
    align-items: center;
    height: 46px;
    border: 2px solid #b4b4b4;
    margin-left: 5px;
    padding-right: 20px;
    border-radius: 25px;
}

.filters button:hover{
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
    background-color: #DEEBFF;
}

.filters button i {
    margin : 10px;
}

.filter-button {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.titlehb {
    margin-top: -0px;
    padding-bottom: 16px;
}

.hebergements {
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px;
    margin-right: 25px;
    width: 100%;
}

.hebergementscard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements .vignette{
    width: 29%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 8px var(--dark-grey);
    justify-content: space-around;
    transition: all 0.22s;
    padding: 5px;
}

.hebergements .vignette img {
    border-radius: 16px 16px 0 0;
    height: 120px;
    width: 100%;
    object-fit: cover;
}

.hebergementscard h2,
.hebergementscard h3,
.hebergementscard .sr-only{
    margin: 5px;
}

.hebergements h3{
    font-weight: normal;
}

.hebergements .card-rating{
    margin: 5px;
}

.vignette:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--main-color);
    cursor: pointer;
}

.hebergements h2{
    width: 100%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.populaires .card{
    transition: all 0.22s;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires .card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px var(--main-color);
    cursor: pointer;
}

/****** Activités ***********/

.activites {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.activites .vignette{
    width: 29%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 0 8px var(--dark-grey);
    justify-content: space-between;
    transition: all 0.22s;
    margin-right: 35px;
}

.activites .vignette:last-child{
    margin-right: 0;
}

.activites .vignette img{
    height: 375px;
    width: 400px;
    border-radius: 15px 15px 0px 0px;
}

.vignette {
    margin-bottom: 20px;
}

.vignette img {
    max-width: 100%;
    object-fit: cover;
}

.Activites .vignette h2{
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    padding-bottom: 6px;
}

/****** Footer ***********/

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.footer-category {
    flex: 1;
    margin-right: 20px;
    padding-left: 25px;
}

.footer-category h2 {
    margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Desktop devices */
@media (min-width: 768px) {
    .bouton_rechercher_mobile {
        display: none;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    html {
        margin: 0% 3% 0% 3%;
    }

    nav ul li{
        width: 50%;
        text-align: center;
        flex: 1;
        padding: 20px 0;
        position: relative;
        cursor: pointer;
    }

    nav ul li:hover {
        color: blue;
    }

    .nav ul li:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: blue;
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .texttop1 h1 {
        font-size: 20px;
        margin-top: 50px;
    }

    .texttop1 p {
        margin-bottom: 40px;
    }

    .filters {
        display: initial;
    }

    .filters h2 {
        display: block;
        width: 100%;
    }

    .filter-button {
        font-size: 12px;
    }

    .button-container {
        margin-bottom: 40px;
    }

    .info-container {
        margin-bottom: 30px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergementscard h2, .hebergements h3 {
        font-size: 16px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .section-title {
        padding-top: 4%;
        padding-left: 3%;
    }

    .populaires .fa-chart-line {
        padding-right: 3%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 3%;
        padding-right: 3%;
        padding-bottom: 3%;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        margin-bottom: 30px;
    }

    .activites .vignette img{
        height: 170px;
        width: 400px;
    }

    .activites .vignette h2 {
        text-align: left;
        font-size: 10px;
        margin-left: 20%;
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .footer-container h2 {
        font-size: 19px;
    }

    .footer-container p {
        font-size: 14px;
    }
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px) {

    body {
        padding: 0;
    }

    header{
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    main {
        margin-top: -9%;
    }

    body{
        margin: 0;
    }

    .logo {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    nav {
        width: 100%;
        margin-bottom: 10px;
    }

    nav ul li{
        margin: 0;
        width: 50%;
        text-align: center;
        flex: 1;
        padding: 20px 0;
        position: relative;
        cursor: pointer;
    }

    nav ul li:hover {
        color: blue;
    }

    .nav ul li:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: blue;
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .main-container {
        width: 100%;
    }

    .main-container h1 {
        width: 100%;
        font-size: 25px;
    }

    .texttop1 {
        text-align:center;
    }

    .texttop1 p {
        padding-bottom: 22px;
    }

    .searchBarFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 18px;
        padding-bottom: 25px
    }

    .searchBar {
        width: 100%;
        margin-top: 10%;
    }

    .searchButton {
        display: none;
    }

    .bouton_rechercher_mobile i {
        font-size: 25px;
        cursor: pointer;
        border-radius: 16px;
        color: white;
        background-color: #0065FC;
        padding: 14px;
    }

    .bouton_rechercher_mobile {
        border: none;
        border-radius: 16px 16px 16px 16px;
        position: relative;
        right: 12px;
        background: none;
    }

    .filters {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .filters h2 {
        width: 100%;
        margin-top: 2.5%;
    }

    .button-container {
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
        margin-bottom: 5%;
    }

    .filters h2{
        padding-right: 0;
        box-sizing: border-box;
        padding-left: 25px;
        font-size: 20px;
    }

    .filter-button {
        text-align: center;
        width:  48%;
    }

    .filters button{
        margin: 0;
        padding: 0;
    }

    .filters button i {
        margin: 5px;
    }

    .info-container {
        display: flex;
        align-items: center;
        margin-bottom: 15%;
        padding-left: 25px;
        font-size: 16px;
    }

    .info-container i {
        margin-right: 3%;
    }

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
    }

    .populaires {
        width: 100%;
        padding-top: 7%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card{
        margin-top: 7%;
    }

    .populaires-cards a{
        width: 100%;
    }

    .populaires-cards img {
        width: 42%;
        height: 172px;
    }

    .hebergements-and-populaires .populaires{
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements{
        background-color: white;
    }

    .hebergementscard h2, .hebergementscard h3, .hebergementscard .sr-only {
        margin: 0;
    }

    .hebergementscard h2, .hebergements h3 {
        font-size: 16px;
    }

    .hebergements {
        width: 100%;
        padding: 0;
    }

    .titlehb {
        padding-top: 7%;
        padding-left: 25px;
    }

    .hebergementscard{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hebergements .vignette{
        width: 85%;
    }

    .hebergements .vignette img {
        height: 100px;
    }

    .affplus {
        font-size: 20px;
    }

    .titleAct{
        margin-left: 5%;
    }

    .activites{
        display: flex;
        flex-direction: column;
    }

    .activites .vignette{
        width: 90%;
        margin-right: 0;
    }

    .activites .vignette img{
        height: 150px;
    }

    .activites .vignette h2 {
        text-align: left;
        padding-left: 5%;
        font-size: 16px;
    }

    .footer-container {
        flex-direction: column;
        align-items: stretch;
        margin-top: 28px;
    }

    .footer-category {
        width: 100%;
        margin-right: 0;
        padding-left: 0;
        box-sizing: border-box;
    }
}